
/* ============= 数据区域 ================== */

/* 数据 */
.data-section {
  max-width: unset;
  width: 100vw;
  height: 255px;
  /* 背景，自动拉伸，取中间部分 */
  /*images/adult-business-computer-contemporary-380769.jpg*/
  background-image: url('https://s1.ax1x.com/2020/06/09/thxmY4.jpg');
  background-size: cover;
  background-position: center;

  /* 4列布局 */
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 220px));
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 20;
}

/* 背景遮罩 */
.data-section::before {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--backdrop-color);
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* 每个数据项的样式 */
.data-piece {
  width: 250px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  color: white;
  position: relative;
  z-index: 40;
}

/* 数据图标 */
.data-piece i.fas {
  font-size: 44px;
}

/* 数据数字 */
.data-piece .num {
  margin-top: 7px;
  font-size: 41px;
  font-weight: 600;
}

/* 数字单位 */
.data-piece .data-desc {
  font-size: 18px;
  font-weight: 500;
}