
/*--布局 start--*/

/*header*/
.header-container{
	background-color: #fff;
	border-bottom: 1px solid #dadada;
}
.header-logo-container,
.header-btn-container,
.header-nav-container{
	height: 64px; 
}
.header-btn-container{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
/*nav*/
.nav-container{
	overflow: hidden;
	position: relative;
	top: -1px;
	height: 0;
	border-bottom: 1px solid #DADADA;
	transition: height; 0.5s;
}

.nav-container-extended{
	top:0px;
	height: 201px;
}
/*--布局 end--*/
/*--组件start--*/
.btn-toggle{
	padding: 10px;
	background-color: transparent;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.btn-toggle:hover{
	background-color: #f9f9f9;
}
.btn-toggle-bar{
	display: block;
	width: 24px;
	height: 4px;
	background-color: #363636;
	border-radius: 2px;
}
.btn-toggle-bar+.btn-toggle-bar{
	margin-top: 4px;
}
.btn-toggle-bar:hover{
	background-color: #1428a0;
}

/*--组件end--*/
/*--内容start--*/

/*--内容end--*/
/*header*/
.header-logo{
	display: flex;
	align-items: center;
	width: 136px;
	height: 100%;
}

.header-nav,
.header-nav-item,
.header-nav-link{
	height: 100%;
}
.header-nav{
	display: flex;
	justify-content: flex-end;
	font-size: 14px; 
}
.header-nav-item{
	margin-left: 24px;
}
.header-nav-item:first-child{
	margin-left: 0;
}
.header-nav-link{
	display: flex;
	align-items: center;
	font-weight: bold;
}

/*nav*/
.nav-link{
	display: block;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
}


















/*--内容end--*/