
/* 小于576象素 */
@media (max-width: 576px) {
  /* 缩小轮播标题文字，探索更多按钮文字 */
  .slide-caption h1 {
    font-size: 24px;
  }

  .slide-caption h3 {
    font-size: 12px;
  }
  
  /* 第二页轮播标题布局方式 */
  .slide-caption.left {
    max-width: 60vw;
    text-align: center;
  }

  .explore-btn {
    padding: 10px 18px;
    font-size: 12px;
  }

  /* 成功案例显示为1列 */
  .showcases .case-item {
    width: 100vw;
    height: 60vw;
  }

  /* 底部菜单显示为1列 */
  .footer-menus {
    grid-template-columns: 1fr;
    /* row-gap: 24px; */
  }

  /* 底部菜单左对齐 */
  .footer-menu {
    justify-self: start;
    text-align: left;
  }
}